.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginBox {
    width: 350px;
    padding: 20px;
}

/* RIght-aligned section in the navbar */
    .navbar-right {
    float: right;
}

.delete-link {
    color: grey;
}

.navbar-right {
    float: right;
}